<!DOCTYPE html>
<html lang="en" ng-app="bookApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {#<link rel="shortcut icon" href="../../assets/ico/favicon.ico">#}

    <title>Book App</title>
    {% block styles %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    {% endblock %}
    {% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>

    {% endblock %}
</head>

<body>

<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="/#/">Начало</a></li>
            <li><a href="/#add">Добавить книгу</a></li>
        </ul>
        <h3 class="text-muted">Book App</h3>
    </div>

    {#<div class="jumbotron">#}
        {#<h1>Jumbotron heading</h1>#}
        {#<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>#}
        {#<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>#}
    {#</div>#}
    <div id="main">
        <div class="crumbs">
            <span>Каталог</span>
            <span class="page"></span>
            {#<span id="loading"></span>#}
        </div>
        {% block body %}
        {% endblock %}


    </div>


    <div class="row marketing">

    </div>

    <div class="footer">
        <p>&copy; BookApp</p>
    </div>

</div> <!-- /container -->


</body>
</html>