<div class="row col-md-12">
    <form id="bookForm" name="bookForm" ng-submit="submitForm()" enctype="multipart/form-data" novalidate>
        <div class="form-group col-md-8">
            <label for="inputTitle">Название</label>
            <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Введите название книги" ng-model="title" ng-maxlength="{{limits.title}}" required>
            <span class="help-block m-b-none">Поле обязательно для заполнения. Максимум {{limits.title}} символов</span>
            <span class="help-block m-b-none red" ng-show="bookForm.title.$invalid && !bookForm.title.$pristine">{{ messages.empty_field }}</span>
            <span class="help-block m-b-none red" ng-show="bookForm.title.$error.maxlength">{{ messages.max_length }}</span>
        </div>
        <div class="form-group col-md-8">
            <label for="inputAuthor">Автор</label>
            <input type="text" class="form-control" id="inputAuthor" name="author" placeholder="Введите автора" ng-model="author" ng-maxlength="{{limits.author}}" required>
            <span class="help-block m-b-none">Поле обязательно для заполнения. Максимум {{limits.author}} символов</span>
            <span class="help-block m-b-none red" ng-show="bookForm.author.$invalid && !bookForm.author.$pristine">{{ messages.empty_field }}</span>
            <span class="help-block m-b-none red" ng-show="bookForm.author.$error.maxlength">{{ messages.max_length }}</span>
        </div>
        <div class="form-group col-md-8">
            <label for="inputYear">Год издания</label>
            <input type="text" class="form-control" id="inputYear" name="year" placeholder="Год издания" ng-model="year">
        </div>
        <div class="form-group col-md-8">
            <label for="inputDescr">Описание</label>
            <textarea class="form-control col-md-8" id="inputDescr" name="descr" placeholder="Введите описание книги" ng-model="descr" ng-maxlength="{{limits.descr}}" required></textarea>
            <span class="help-block m-b-none">Поле обязательно для заполнения. Максимум {{limits.descr}} символов</span>
            <span class="help-block m-b-none red" ng-show="bookForm.descr.$invalid && !bookForm.descr.$pristine">{{ messages.empty_field }}</span>
            <span class="help-block m-b-none red" ng-show="bookForm.descr.$error.maxlength">{{ messages.max_length }}</span>
        </div>
        <div class="form-group col-md-8">
            <label for="inputCover">Обложка</label>
            <input type="file" class="form-control col-md-8" id="inputCover" name="cover" placeholder="Выберите файл" ng-model="cover">

        </div>
        <div class="form-group col-md-8">
            <input type="hidden" name="id" value="">
            <button type="submit" class="btn btn-primary" ng-disabled="!bookForm.$valid || isValid">Сохранить</button>

            <div class="resultMessage alert alert-dismissible alert-success" ng-hide="hideMessage == true">{{ resultMessage }}</div>
        </div>


    </form>
</div>