<div class="books-search col-md-12">
    <div class="form-group">
        <div class="col-lg-8">
            <input type="text" class="form-control" id="search" name="search" placeholder="Поиск..." ng-model="search" ng-change="bookSearch()">
        </div>
        <div class="col-lg-4">
            <select id="sort" class="form-control" ng-model="sort" ng-change="bookSort()">
                <option value="none">Без cортировки</option>
                <option value="title">По названию</option>
                <option value="author">По автору</option>
            </select>
        </div>
    </div>
</div>
    <div class="books-wrapper row col-md-12">
        <div class="book-wrapper-item col-lg-12" ng-repeat="book in books">
            <div class="col-md-2 ">
                <img src="{{ book.cover }}" alt="{{ book.title }}" title="{{ book.title }}">
            </div>
            <div class="col-md-10">
                <p><a href="#{{ book.id }}">{{ book.title }}</a></p>
                <p>Автор: {{ book.author }}</p>
                <p>Год издания: {{ book.year }}</p>
                <p class="descr">Описание: {{ book.descr }}</p>
            </div>


        </div>

    </div>
    <div class="pagination" ng-show="kolpages>1">
        <a class="prev" ng-show="page>1" ng-click="toPage(page-1)">««</a>
        <a ng-repeat="page in pages" ng-click="toPage(page)">{{ page }}</a>
        <a class="prev" ng-show="page<kolpages"ng-click="toPage(page+1)">»»</a>
    </div>

