<div class="book-wrapper col-md-12">
    <h1>{{book.title}}</h1>
    <div class="">
        <div class="col-md-3">
            <img src="{{ book.cover }}" alt="{{ book.title }}" title="{{ book.title }}">
        </div>
        <div class="col-md-9">
            <p>Автор: {{ book.author}}</p>
            <p>Год издания: {{ book.year}}</p>
            <p>Описание: {{ book.descr}}</p>
            <p>
                <a class="btn btn-primary" href="#{{ book.id}}/edit">Редактировать</a>&nbsp
                <button class="btn btn-primary" type="button" ng-click="delete()">Удалить</button>
            </p>
        </div>
    </div>

</div>