/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
.books-wrapper{
    /*border:1px solid #ccc;*/
}
.book-wrapper img{
    width:100px
}
.book-wrapper-item{
    border:1px solid #ccc;
    border-radius:10px;
    padding:5px;
    margin:0 0px 10px 0;
    height:150px;
}
.book-wrapper-item p{
    margin: 0;
    padding: 0;
}
.book-wrapper-item img{
    width:100px
}
.book-wrapper-item p.descr{
    overflow: hidden;
    height: 65px;
}
.books-search{
    height: 50px;
}

.red {color: red}
.resultMessage{margin-top:7px}

.crumbs{
    border-bottom:1px solid #e5e5e5;
    font-size:16px;
    padding:0 0 5px;
    margin: 0 0 20px;

}
.crumbs .page{
    border-left:1px solid #e5e5e5;
    display: inline-block;
    margin:0 0 0 15px;
    padding: 0 0 0 15px;
}
.pagination a{
    display:inline-block;
    padding:2px 4px;
    margin:0 2px 0 0;
    border:1px solid #e5e5e5;
    border-radius:4px;
    cursor:pointer;
}